:host {
  display: block;
}
:host {
  display: block;
}
:host {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;
}
.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 30%;
  width: 100%;
  background-color: var(--mat-sys-surface-variant);
  padding: var(--padding);
  border-color: var(--mat-sys-secondary-container);
  border-width: 1px;
  border-style: solid;
  border-radius: var(--mat-sys-corner-medium);

  fieldset {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  legend {
    font: var(--mat-sys-label-large);
    width: 100px;
    text-transform: uppercase;
    text-align: start;
    width: max-content;
  }
  input {
    width: 100%;
    background-color: var(--mat-sys-surface-container-low);
    padding: var(--padding);
    border-color: var(--mat-sys-secondary-container);
    border-width: 1px;
    border-style: solid;
    border-radius: var(--mat-sys-corner-medium);
    font: var(--mat-sys-label-large);
  }
  button {
    align-self: center;
    max-width: 150px;
    width: 100%;
    padding: var(--padding);
    border-radius: var(--mat-sys-corner-extra-small);
    background-color: var(--mat-sys-secondary-container);
    text-transform: uppercase;
    font: var(--mat-sys-label-large);
    line-height: var(--mat-sys-label-large-line-height);

    &:hover {
      cursor: pointer;
      background-color: var(--mat-sys-secondary-fixed-dim);
    }
  }
}
.alert-danger {
  color: var(--mat-sys-error);
  font: var(--mat-sys-label-large);
  padding: var(--padding);
}

.link-reg-page {
  padding: var(--padding);
}
