<header class="flex flex-row items-center justify-between">
  <a routerLink="{{ homeLink }}">
    <img src="cryptpad_96px_00FBFB.png" class="logo" alt="CryptoTrade Logo" />
  </a>
  <app-navigation />
  <app-search-bar />
  <div class="flex flex-row items-center">
    <mat-nav-list class="">
      <ul class="flex flex-wrap">
        @for (item of authLinks(); track $index) {
          <li>
            <a
              mat-list-item
              routerLinkActive="activeLink"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="item.link">
              {{ item.title }}
            </a>
          </li>
        }
      </ul>
    </mat-nav-list>
    <app-status-icon />
  </div>
</header>
