:host {
  display: block;
  width: 100%;
}

.overview {
  display: flex;
  flex-direction: column;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--gap);
  padding: var(--padding-top) var(--padding-lr) var(--padding-bottom)
    var(--padding-lr);
  max-height: 100%;
  overflow-y: auto;
}
