:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.portfolio {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
