@use '@angular/material' as mat;

:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.portfolio {
  position: relative;

  display: flex;
  flex-direction: column;

  gap: var(--gap);
  height: 100%;
}
.header-portfolio {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
  justify-content: start;
}

.mat-mdc-tab-group {
  height: 100%;
  width: 100%;
  background-color: var(--mat-sys-surface-container);
  border-radius: var(--mat-sys-corner-medium);
  border: 1px solid var(--mat-sys-surface-variant);
  box-shadow: var(--mat-sys-level3);
  overflow: hidden;

}
.mdc-tab__text-label{
  color:red;
}
.widget-container {
  position: absolute;
  top: 0;
  right: 0;
}
