:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
section {
  padding: var(--mat-sys-space-medium);
  background-color: var(--mat-sys-surface-container);
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-small);

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  .chart {
    width: 100%;
    height: 100%;
  }
  .chart-controls {
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    button {
      padding: var(--mat-sys-space-small);
      border-radius: var(--mat-sys-corner-small);
      background-color: var(--chart-button-bg);
      border: 1px solid var(--mat-sys-outline-variant);
    }
    .button-interval {
      width: 50px;
      font: var(--mat-sys-label-large);
      &:hover {
        background-color: var(--mat-sys-surface-container-highest);
        cursor: pointer;
      }
    }
  }
}
#active {
  background-color: var(--mat-sys-surface-container-highest);
  cursor: auto;
}
