<section class="section-component">
  <div class="flex flex-row items-center gap-1.5">
    <span class="material-symbols-outlined">draft_orders</span>
    <h3 class="order-title">Created Order</h3>
  </div>
  <form [formRoot]="orderForm" class="form-order">
    <div class="side-btns">
      <label>
        <input
          [formField]="orderForm.side"
          [value]="`${SCHEMA_CONFIG.side[0]}`"
          id="value-1"
          type="radio" />
        <span>{{ SCHEMA_CONFIG.side[0] }}</span>
      </label>
      <label>
        <input
          [formField]="orderForm.side"
          [value]="`${SCHEMA_CONFIG.side[1]}`"
          id="value-2"
          type="radio" />
        <span>{{ SCHEMA_CONFIG.side[1] }}</span>
      </label>

      <span class="selection"></span>
    </div>
    <select
      class="type-selection"
      [formField]="orderForm.type"
      id="selected-type">
      <option value="Limit">{{ SCHEMA_CONFIG.type[0] }}</option>
      <option value="Market">{{ SCHEMA_CONFIG.type[1] }}</option>
    </select>
    <div class="form-field">
      <label for="amount">{{ SCHEMA_CONFIG.amount.label }}</label>
      <div class="container-hint">
        <input type="text" id="amount" />
        <span class="hint-amount">{{
          `$ ${(balance()! | converter: 'USDT')}`
        }}</span>
      </div>
    </div>
    @if (orderForm.price().hidden()) {
      <div class="form-field">
        <label for="price">{{ SCHEMA_CONFIG.price.label }}</label>
        <div class="container-hint">
          <input type="text" [formField]="orderForm.price" id="price" />
        </div>
      </div>
    }
    <button
      [disabled]="orderForm().invalid() || orderForm().submitting()"
      class="btn-submit"
      type="submit">
      Submit
    </button>
  </form>
</section>
