:host {
  display: block;

  height: 100%;

  border-radius: var(--mat-sys-corner-medium);
  overflow: hidden;
}

.order-section {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  // background-color: var(--order-form-section-bg-color);
  padding: var(--order-form-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  .section-title {
    font: var(--mat-sys-headline-large);
  }
  .side-container {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 5px;

    .btn-side {
      box-shadow: var(--mat-sys-level3);
      background-color: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);

      width: 80px;
      border-radius: var(--mat-sys-corner-medium);
      padding: var(--padding);
      font: var(--mat-sys-label-large);
      &:hover {
        cursor: pointer;
        // background: var(--order-form-side-btn-hover-bg);
      }
    }

    .active {
      background-color: var(--mat-sys-on-primary-container);
      color: var(--mat-sys-on-primary);
    }
  }
  .order-form {
    color: var(--mat-sys-primary);
    font: var(--mat-sys-body-small);
    letter-spacing: var(--mat-sys-body-small-tracking);
    border-radius: var(--mat-sys-corner-medium);
    background-color: var(--mat-sys-surface-container);
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    .form-field {
      padding: var(--padding);
      .form-legend {
        font: var(--mat-sys-label-large);
        color: var(--mat-sys-secondary);
      }
      .amount-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--mat-sys-space-small);
        align-items: center;
        background-color: var(--mat-sys-surface-variant);
        width: 100%;
        height: 40px;

        padding: 4px;
        border-radius: var(--mat-sys-corner-small);
        .balance {
          white-space: nowrap;
          width: max-content;
          font: var(--mat-sys-label-large);
          color: var(--mat-sys-secondary);
          font-style: italic;
        }
      }

      .amount-input {
        padding: var(--mat-sys-space-small);
        width: 100%;
        height: 100%;
        font: var(--mat-sys-label-large);
        color: var(--mat-sys-secondary);
      }
      .price-input {
        padding: var(--mat-sys-space-small);
        font: var(--mat-sys-label-large);

        color: var(--mat-sys-secondary);
        background-color: var(--mat-sys-surface-variant);
        width: 100%;
        height: 40px;

        padding: 4px;
        border-radius: var(--mat-sys-corner-small);
      }
    }
  }

  .btn-send {
    margin: 0 auto 4px auto;
    box-shadow: var(--mat-sys-level3);
    border: 1px solid var(--mat-sys-outline);
    color: var(--mat-sys-on-primary);

    font: var(--mat-sys-label-large);
    padding: var(--padding);
    width: 80%;
    border-radius: var(--mat-sys-corner-medium);
    background-color: var(--mat-sys-primary);
    &:hover {
      background-color: var(--mat-sys-on-primary-container);

      cursor: pointer;
    }
  }
}

.error-msg {
  color: var(--mat-sys-error);
  padding: var(--mat-sys-space-small);
}
.form-select-type {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);

  width: 80px;
  border-radius: var(--mat-sys-corner-medium);
  padding: var(--padding);
  font: var(--mat-sys-label-large);
}
