:host {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 590px;
}

.favorite-list,
.watch-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.watch-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // align-items: start;
  gap: 10px;
  border-radius: 20px;
  background-color: var(--section-bg-color);
  color: var(--section-color-text);
  padding: var(--padding-top) var(--padding-lr) var(--padding-bottom)
    var(--padding-lr);
  .watch-list-title {
    font: var(--title-section);
    color: var(--section-color-title);
    font-weight: bold;
  }
}
.favorite-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scroll-container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) transparent;
}

.favorite-item {
  width: 100%;
  height: 50px;
  padding: var(--padding);
  flex: 1;
}
.pair-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // padding: var(--padding);
}

.remove-icon {
  cursor: pointer;
  &:hover {
    color: var(--mat-sys-error);
  }
}
.ticker-name {
  font: var(--ticker-symbol-text);
  font-weight: bold;
  color: var(--ticker-symbol-color);
}
.ticker-price {
  color: var(--mat-sys-primary);
  font: var(--label);
  font-weight: bold;
}
bullet-list-content-loader {
  width: 100%;
  height: 100%;
}
