:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.layout-page {
  width: 100%;
  padding: var(--mat-sys-space-small);
  border: var(--border-componnet);
  border-radius: var(--border-radius-component);

  box-shadow: var(--mat-sys-level5);
  overflow-y: auto;

  height: 100%;
}
.title {
  font: var(--mat-sys-display-medium);
  color: var(--mat-sys-tertiary);
}
.placeholder {
  font: var(--mat-sys-headline-large);
  color: var(--mat-sys-surface-container-high);
  width: 100%;
  text-align: center;
}
