@use "@angular/material" as mat;
:host {
  display: block;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.list-overrides(
    (
      active-indicator-color: orange,
      active-indicator-shape: 16px,
    )
  );
}
