@forward './material-tokens.typography';
@forward './material-tokens.colors';
@forward './material-tokens.shape';
@forward './material-tokens.effects';

:root {
  --mat-sys-space-small: 4px;

  --mat-sys-space-medium: 8px;

  --mat-sys-space-large: 16px;
}

// Surface  – фона и больших, малозаметных областей экрана.
// primary, secondary, tertiary colors – роли акцентных цветов, используемые для подчеркивания или приглушения элементов переднего плана.
// container — роли, используемые в качестве цвета заливки для элементов переднего плана, таких как кнопки.
// On – Роли, начинающиеся с этого термина, указывают цвет текста или значков поверх соответствующего родительского цвета. Например, on primary используется для текста и значков относительно основного цвета заливки.
// variant – , вариант контура  – ​​это менее выразительная версия цвета контура  .
