:host {
  display: block;
}
.search-bar {
  display: flex;
  align-items: center;
  .search-input {
    padding: 0.2rem 1rem;
    border: 1px solid var(--mat-sys-on-surface);
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    max-width: 300px;
  }
}
