<section class="login-section">
  <div class="auth-link-container">
    @for (link of links; track link) {
      <a class="auth-link" [routerLink]="link.link">{{ link.label }}</a>
    }
  </div>
  <form [formRoot]="authForm" class="form">
    <div class="field">
      <label for="email" class="feild-label">Email</label>
      <input
        id="email"
        [class.is-invalid]="
          authForm.email().touched() && authForm.email().invalid()
        "
        [class.is-valid]="
          authForm.email().touched() && authForm.email().valid()
        "
        [formField]="authForm.email"
        class="input"
        type="text" />
      @if (authForm.email().invalid() && authForm.email().touched()) {
        <div class="error">
          @for (error of authForm.email().errors(); track error.kind) {
            <span class="error-msg">{{ error.message }}</span>
          }
        </div>
      }
    </div>
    <div class="field">
      <label for="password" class="feild-label">Pasword</label>
      <input
        id="password"
        [class.is-invalid]="
          authForm.password().touched() && authForm.password().invalid()
        "
        [class.is-valid]="
          authForm.password().touched() && authForm.password().valid()
        "
        [formField]="authForm.password"
        class="input"
        type="text" />
      @if (authForm.password().invalid() && authForm.password().touched()) {
        <div class="error">
          @for (error of authForm.password().errors(); track error.kind) {
            <span class="error-msg">{{ error.message }}</span>
          }
        </div>
      }
    </div>
    @if (route === links[1].link) {
      <div class="field">
        <label for="confirm" class="feild-label">Confirm</label>
        <input
          id="confirm"
          [class.is-invalid]="
            authForm.confirm().touched() && authForm.confirm().invalid()
          "
          [class.is-valid]="
            authForm.confirm().touched() && authForm.confirm().valid()
          "
          class="input"
          type="text"
          [formField]="authForm.confirm" />
        @if (authForm.confirm().invalid() && authForm.confirm().touched()) {
          <div class="error">
            @for (error of authForm.confirm().errors(); track error.kind) {
              <span class="error-msg">{{ error.message }}</span>
            }
          </div>
        }
      </div>
    }
    @if (authForm().errors()) {
      <div class="error">
        @for (error of authForm().errors(); track error.kind) {
          <span class="error-msg">{{ error.message }}</span>
        }
      </div>
    }
    <button
      class="btn-submit"
      [disabled]="authForm().invalid() || authForm().submitting()">
      @if (authForm().submitting()) {
        Sending...
      } @else {
        @if (route === '/register') {
          Sign Up
        } @else {
          Sign In
        }
      }
    </button>
  </form>
</section>
