<form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" class="login-form">
  <fieldset>
    <legend>Email</legend>
    <input type="email" formControlName="email" />

    @if (email.invalid && (email.dirty || email.touched)) {
      <div class="alert alert-danger">
        @if (email.hasError('email')) {
          <div>Email is invalid.</div>
        }
        @if (email.hasError('required')) {
          <div>Email is required.</div>
        }
      </div>
    }
  </fieldset>
  <fieldset>
    <legend>Password</legend>
    <input type="password" formControlName="password" />
    @if (password.invalid && (password.dirty || password.touched)) {
      <div class="alert alert-danger">
        @if (password.hasError('required')) {
          <div>Password is required.</div>
        }
        @if (password.hasError('minlength')) {
          <div>Password must be at least 8 characters long.</div>
        }
      </div>
    }
  </fieldset>

  <button type="submit" [disabled]="loginForm.invalid">{{ btn_text }}</button>

  <a class="link-reg-page" [routerLink]="[`/${register_link}`]">{{ register_link_text }}</a>
</form>
