<h2 class="section-title">{{ title }}</h2>
<div class="table-container">
  <table mat-table [dataSource]="assets()!" class="mat-elevation-z8">
    <ng-container matColumnDef="Asset">
      <th mat-header-cell *matHeaderCellDef>Asset</th>
      <td mat-cell *matCellDef="let element">{{ element.asset }}</td>
    </ng-container>
    <ng-container matColumnDef="Available Balance">
      <th mat-header-cell *matHeaderCellDef>Available Balance</th>
      <td mat-cell *matCellDef="let element">{{ element.free }}</td>
    </ng-container>
    <ng-container matColumnDef="Current Price">
      <th mat-header-cell *matHeaderCellDef>Current Price</th>
      <td mat-cell *matCellDef="let element">{{ element.free }}</td>
    </ng-container>
    <ng-container matColumnDef="Total Value">
      <th mat-header-cell *matHeaderCellDef>Total Value</th>
      <td mat-cell *matCellDef="let element">-</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<!-- 1. Таблица активов
Отобразить все пользовательские активы с ненулевым балансом, полученные из Binance Testnet API (GET /api/v3/account, HMAC).
Столбцы: Актив (BTC, ETH, USDT…), Доступный баланс, В заказе, Текущая цена (USD), Общая стоимость (USD).
The текущая цена каждого актива берется из данных тикера. -->
