<table class="markets-table">
  <thead>
    <tr class="header-row">
      @for (col of columns; track $index) {
        @if ($index === 0) {
          <th class="header-cell headercell-symbol">{{ col[1] }}</th>
        } @else {
          <th class="header-cell">
            <span class="header-text">{{ col[1] }}</span>
            <button mat-icon-button (click)="toggleSortColumn($event, col[0])">
              <mat-icon fontIcon="swap_vert"></mat-icon>
            </button>
            <mat-icon></mat-icon>
          </th>
        }
      }
    </tr>
  </thead>
  <tbody class="table-body">
    @for (pair of pairs(); track pair.symbol) {
      <tr class="data-row">
        <td class="data-cell symbol-cell">{{ pair.symbol }}</td>
        <td class="data-cell">{{ pair.lastPrice }}</td>
        <td class="data-cell">{{ pair.priceChangePercent }}%</td>
        <td class="data-cell">{{ pair.quoteVolume }}</td>
        <td class="data-cell favorite-cell">
          <button
            mat-icon-button
            (click)="toggleFavorite(pair.symbol, $event)"
            [attr.aria-label]="
              isFavorite(pair.symbol) ? 'Remove from favorites' : 'Add to favorites'
            "
            class="favorite-button">
            <mat-icon
              [fontIcon]="isFavorite(pair.symbol) ? 'favorite' : 'favorite_border'"></mat-icon>
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>
