:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.markets-table {
  width: 100%;
  border-radius: 24px;
  // border: 1px solid var(--market-table-border-color);
  background-color: var(--mat-sys-secondary-container);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.header-row {
  padding: var(--padding);
  border-bottom: 3px solid var(--mat-sys-on-secondary-fixed-variant);
  color: var(--mat-sys-tertiary);
  font: var(--mat-sys-headline-large);
  position: sticky;
  top: 0;
  background-color: var(--mat-sys-secondary-container);
  z-index: 1;
}
.header-cell {
  padding: var(--padding);
}
.headercell-symbol {
  text-align: left;
}
.data-row {
  padding: var(--padding);
  align-items: center;
  &:hover {
    cursor: pointer;
    background-color: var(--mat-sys-secondary);
    color: var(--mat-sys-on-secondary);
  }
}
.data-cell {
  padding: var(--padding);
  text-align: left;
  text-align: center;
  font: var(--mat-sys-label-large);
}
.symbol-cell {
  font: var(--mat-sys-body-large);
  font-weight: bold;
  text-align: left;
}
.table-body {
  height: 100%;
  overflow-y: auto;
}
.favorite-icon {
  color: red;
}
