<section class="layout-page">
  <form [formRoot]="settingForm" class="form">
    <div class="field">
      <label for="apikey" class="feild-label">ApiKey</label>
      <input
        id="apikey"
        [class.is-invalid]="
          settingForm.apiKey().touched() && settingForm.apiKey().invalid()
        "
        [class.is-valid]="
          settingForm.apiKey().touched() && settingForm.apiKey().valid()
        "
        [formField]="settingForm.apiKey"
        class="input"
        type="text" />
      @if (settingForm.apiKey().invalid() && settingForm.apiKey().touched()) {
        <div class="error">
          @for (error of settingForm.apiKey().errors(); track error.kind) {
            <span class="error-msg">{{ error.message }}</span>
          }
        </div>
      }
    </div>
    <div class="field field-secret">
      <label for="sekretKey" class="feild-label">SecretKey</label>
      <div class="field-secret">
        <input
          id="apikey"
          [class.is-invalid]="
            settingForm.secretKey().touched() &&
            settingForm.secretKey().invalid()
          "
          [class.is-valid]="
            settingForm.secretKey().touched() && settingForm.secretKey().valid()
          "
          [formField]="settingForm.secretKey"
          class="input"
          type="{{ inputType() }}" />
        <button class="btn-icon" (click)="toggleInputType()">
          @if (inputState() === 'visible') {
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="visibility"></mat-icon>
          } @else {
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="visibility_off"></mat-icon>
          }
        </button>
      </div>
      @if (
        settingForm.secretKey().invalid() && settingForm.secretKey().touched()
      ) {
        <div class="error">
          @for (error of settingForm.secretKey().errors(); track error.kind) {
            <span class="error-msg">{{ error.message }}</span>
          }
        </div>
      }
    </div>
    @if (settingForm().errors()) {
      <div class="error">
        @for (error of settingForm().errors(); track error.kind) {
          <span class="error-msg">{{ error.message }}</span>
        }
      </div>
    }
    <button
      class="btn-submit"
      [disabled]="settingForm().invalid() || settingForm().submitting()">
      @if (settingForm().submitting()) {
        Sending...
      } @else {
        Send
      }
    </button>
  </form>
</section>
