:host {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;
}
section {
  display: flex;
  align-items: start;
  justify-content: center;
}

.setting-form {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  width: 100%;
  background-color: var(--mat-sys-surface-variant);
  padding: var(--padding);
  border-color: var(--mat-sys-secondary-container);
  border-width: 1px;
  border-style: solid;
  border-radius: var(--mat-sys-corner-medium);

  fieldset {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  legend {
    font: var(--mat-sys-label-large);
    width: 100px;
    text-transform: uppercase;
    text-align: start;
  }
  input {
    width: 100%;
    background-color: var(--mat-sys-surface-container-low);
    padding: var(--padding);
    border-color: var(--mat-sys-secondary-container);
    border-width: 1px;
    border-style: solid;
    border-radius: var(--mat-sys-corner-extra-small);
    font: var(--mat-sys-label-large);
  }
  button {
    max-width: 150px;
    width: 100%;
    padding: var(--padding);
    border-radius: var(--mat-sys-corner-extra-small);
    background-color: var(--mat-sys-secondary-fixed-dim);

    text-transform: uppercase;
    font: var(--mat-sys-label-large);
    line-height: var(--mat-sys-label-large-line-height);

    &:hover {
      cursor: pointer;
      background-color: var(--mat-sys-secondary-fixed-dim);
    }
  }
}
.alert-danger {
  color: var(--mat-sys-error);
  font: var(--mat-sys-label-large);
  padding: var(--padding);
}
.alert-success {
  color: var(--mat-sys-tertiary-fixed-dim);
  font: var(--mat-sys-label-large);
  padding: var(--padding);
}
.form-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.secret-key {
  width: 100%;
  padding-right: var(--padding);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--mat-sys-surface-container-low);
  border-color: var(--mat-sys-secondary-container);
  border-width: 1px;
  border-style: solid;
  border-radius: var(--mat-sys-corner-extra-small);
  height: max-content;
  input {
    border: none;
  }
  .btn-icon {
    background-color: transparent;
    border: none;
    padding: 0;
    width: max-content;
    text-transform: none;
    line-height: normal;
    mat-icon {
      cursor: pointer;
    }
    &:hover {
      background-color: none;
    }
  }
}
