:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.form {
  margin: 0 auto;
  width: 300px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
  border-radius: var(--mat-sys-corner-medium);
  box-shadow: var(--mat-sys-level2);
  background-color: var(--mat-sys-surface-container);
  padding: var(--mat-sys-space-large);
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 82px;

  .input {
    background-color: var(--mat-sys-surface-container-low);
    padding: var(--mat-sys-space-small);
    width: 100%;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
    font: var(--mat-sys-body-large);
    color: var(--mat-sys-secondary);
  }
  .field-secret {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--mat-sys-surface-container-low);
    border-bottom: 1px solid var(--mat-sys-outline-variant);
    padding-right: var(--mat-sys-space-small);
    #apikey {
      width: 100%;
      border: none;
    }
    .btn-icon {
      position: relative;
      z-index: 99;
    }
  }
}

.feild-label {
  font: var(--mat-sys-label-large);
}
.btn-submit {
  cursor: pointer;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-surface);
  border-radius: var(--mat-sys-corner-small);
  width: 70%;
  padding-top: var(--mat-sys-space-medium);
  padding-bottom: var(--mat-sys-space-medium);
  padding-right: var(--mat-sys-space-large);
  padding-left: var(--mat-sys-space-large);
  margin: 0 auto;
  &:hover {
    background-color: var(--mat-sys-on-primary-container);
  }
}
.error-msg {
  color: var(--mat-sys-error);
}
.error {
  display: flex;
  flex-direction: column;
  background-color: var(--mat-sys-error-container);
}
.is-invalid {
  border: 2px solid var(--mat-sys-on-error-container);
}
input.is-valid {
  background: green;
}
