<form (ngSubmit)="handleSubmit()" [formGroup]="form" class="setting-form">
  <fieldset>
    <legend>API Key</legend>
    <input type="text" formControlName="apiKey" name="apiKey" />
    @if (apiKey?.invalid && (apiKey?.dirty || apiKey?.touched)) {
      <div class="alert alert-danger">
        @if (apiKey?.hasError('required')) {
          <div>Name is required.</div>
        }
        @if (apiKey?.hasError('minlength')) {
          <div>Name must be at least 4 characters long.</div>
        }
      </div>
    }
  </fieldset>
  <fieldset>
    <legend for="">Secret Key</legend>
    <input type="password" formControlName="secretKey" name="secretKey" />
    @if (secretKey?.invalid && (secretKey?.dirty || secretKey?.touched)) {
      <div class="alert alert-danger">
        @if (secretKey?.hasError('required')) {
          <div>Name is required.</div>
        }
        @if (secretKey?.hasError('minlength')) {
          <div>Name must be at least 4 characters long.</div>
        }
      </div>
    }
  </fieldset>
  <div class="form-buttons">
    <button type="submit" [disabled]="form.invalid">submit</button>
    <button type="reset" (click)="handleResetForm()">reset</button>
  </div>
</form>
