:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.trade {
  display: grid;
  min-height: 0;
  min-width: 0;
  grid-template-rows: 350px 1fr;
  gap: var(--mat-sys-space-small);
  overflow-y: auto;
}
.orders-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-start;
  align-items: start;
  gap: var(--mat-sys-space-medium);
}
