@use '../../../material-theme.scss' as bp;

:host {
  display: block;
  width: 100%;
  height: 100%;

  width: 100%;
  height: 100%;
  overflow: hidden;
}
.dashboard {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.dash-container {
  display: flex;
  flex-direction: row;
  gap: var(--mat-sys-space-medium);
  justify-content: start;
  @include bp.media(md) {
    flex-direction: column;
    gap: 10px;
  }
}
