:host {
  display: flex;

  margin: auto;
  overflow: hidden;
}
.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card-list {
  width: 100%;
  border-radius: var(--mat-sys-corner-extra-small);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: var(--padding);
  overflow: auto;
  padding: var(--padding);
}
