:host {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  padding: var(--padding);
  background-color: var(--mat-sys-surface-variant);
  font: var(--mat-sys-body-large);
  border-radius: var(--mat-sys-corner-small);
  border: solid 1px var(--mat-sys-outline-variant);
  //  box-shadow: rgb(0,0,0,0.7) 5px 10px 50px ,rgb(0,0,0,0.7) -5px 0px 250px;
  box-shadow: (--mat-sys-level1);
}
:host:hover .title {
  border-bottom: 1px solid var(--mat-sys-primary);
}

.title {
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--mat-sys-primary);
}
.key {
  font-weight: 500;
}
