:host {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  padding: var(--padding);
  background-color: var(--mat-sys-surface);
  font: var(--mat-sys-body-large);
  border-radius: var(--mat-sys-corner-extra-small);
  border: solid 1px var(--mat-sys-outline-variant);
}

.title {
  text-align: center;
  width: 100%;
  font-weight: bold;
}
