@if (ticker()) {
  <h3 class="title">{{ ticker()?.symbol }}</h3>
  <ul class="flex-nowrap flex flex-col">
    <li class="flex flex-row gap-2">
      <span class="key">Price</span>
      <span>{{
        ticker()?.priceChange! | converter: ticker()?.symbol || ""
      }}</span>
    </li>
    <li class="flex flex-row gap-2">
      <span class="key">Change 24h:</span>
      <span [appHighlight]="ticker()?.priceChangePercent || 0">{{
        ticker()?.priceChangePercent
      }}</span>
    </li>
    <li class="flex flex-row gap-2">
      <span class="key">Volume</span>
      <span>{{ ticker()?.volume! | converter: ticker()?.symbol || "" }}</span>
    </li>
  </ul>
}
