:host {
  display: block;
  max-width: 300px;
  width: 250px;
  height: 250px;
  padding: var(--padding);
  overflow: hidden;
}
.dashboard-card {
  background: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
  border-radius: var(--mat-sys-corner-medium);
  box-shadow: var(--mat-sys-level2);
  padding: 16px;
  font: var(--mat-sys-body-medium);
}
.card-title {
  font: var(--dash-card-title);
  color: var(--dash-card-title-color);
  font-weight: bold;
}
.card-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.label {
  color: var(--dash-card-label-color);
  font: var(--dash-card-label);
  font-weight: bold;
}
.value {
  font-weight: bold;
}
.btn-card {
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  border-radius: var(--mat-sys-corner-small);
  font: var(--mat-sys-label-medium);
  padding: 8px 16px;
  cursor: pointer;
  &:hover {
    box-shadow: var(--mat-sys-level3);
  }

  &:disabled {
    background: var(--mat-sys-neutral-variant20);
    color: var(--mat-sys-on-surface-variant);
  }
}
